
@{
    ViewData["Title"] = "create";
}
<form asp-action="create" asp-controller="employee">
  <div class="form-group">
        <label for="exampleInputname">name</label>
        <input type="text" class="form-control" name="Name" id="exampleInputname" placeholder="Enter name">

    </div>
    <div class="form-group">
        <label for="exampleInputage">name</label>
        <input type="text" class="form-control" name="age" id="exampleInputage" placeholder="Enter age">
        
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<h1>create</h1>
